$link-base-color: #8d5eb3; 
// $text-color: #8548b8; 
$background-color: $background-color; 

$content-width:  70%; 
// $on-palm: 100% ; 
// $on-small: 100% ;
// $on-medium: 100%  ; 
$spacing-unit: 1%; 
// @include media-query($on-palm) {
//   $spacing-unit: 0; 
// }
